<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".passkeys.PasskeyActivity"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.algorand.android.credentials.CREATE_PASSKEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.algorand.android.credentials.GET_PASSKEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".passkeys.PasskeyProviderService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <!-- Note: Apps using this library must provide their own @xml/provider resource -->
        </service>

        <activity android:name=".liquidAuth.AnswerActivity"
            android:theme="@style/Theme.AppCompat"
            />

    </application>
</manifest>
