<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>WalletSDK Demo</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<!-- Allow checking if external FIDO apps are installed -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fido</string>
	</array>
</dict>
</plist>
