<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>WalletSDK Demo</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<!-- Camera permission (for QR code scanning) -->
	<key>NSCameraUsageDescription</key>
	<string>WalletSDK Demo needs camera access to scan QR codes and broadcast live streams.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>WalletSDK Demo needs microphone access to broadcast live stream audio.</string>
	<!-- Photo library permission -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>WalletSDK Demo needs photo library access to save QR codes and transaction receipts.</string>
	<!-- Allow checking if external FIDO apps are installed -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fido</string>
	</array>
</dict>
</plist>
